<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('main') }}">
		<img src="{{ asset('assets/uploads/animals-shelter-logo.webp') }}" alt="Logo" width="" height="60" class="d-inline-block align-text-top"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('main') }}">Accueil</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Les animaux
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Adopter un animal</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Parrainer un animal</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('admin_animals_add') }}"><strong>Ajouter un animal</strong></a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Testimonies</a>
				</li>
				<li class="nav-item">
					<a class="nav-link">Les refuges</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="#">Mon compte</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
					</li>
				{% else %}
					<li>
						<a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
					</li>
                    <li>
						<a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
